body {

  font-family: 'Courier New', Courier, monospace; 
  background-color: black; 

}

.job-title {

background-color: gold;
color: black;
font-size: 20px;

}

h1 {

color: coral;

}

p {

    color: darkturquoise;
    font-size: 16px;

}

#high {

color: deeppink;

}

h2 {

color: gold;

}

li {

color: white;

}

footer a {

  color: coral;
}



